$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #154f33;
  background-image: url(http://www.transparenttextures.com/patterns/light-wool.png);
  color: #fff;
}

  /* Make the masthead heading the same height as the navigation */
  h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

  /* Space out the masthead */
.header {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #e5e5e5;
    display: block;
  }

#canvasbox {
  position: absolute;
  margin: auto;
  top: 140px;
  bottom: 0;
  left: 200px;
  right: 0;
  z-index: 100;
  width: 800px;
}

canvas {
  border: 1px solid #e5e5e5;
  position: relative;
  -webkit-animation:canvasAnimation 5s;
}

@-webkit-keyframes canvasAnimation {
  0%  {-webkit-transform:rotate(90deg);left:0px; top:0px;}
}

img {
  left: -20px;
  -webkit-animation:canvasAnimation 1s;
}
